/* Общие настройки */
/* подключаем шрифты */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  /* наследует значение box-sizing от родительского элемента*/
}
img {
  display: block;
  /* делаем элемент блочным */
  max-width: 100%;
  /*чтобы изображение сжималось, если контейнер меньше, не будет создавать горизонтальную полосу прокрутки,
        адаптивный дизайн */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
